body {
font-family:Georgia, 'Times New Roman', Times, serif;
background-image: url(background.png);
background-repeat: repeat;
color:white;
cursor: url(icons8-cursor-48.png) 16 16, auto;
}

h1 {
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Slab-Serif', sans-serif;
    text-align: center;
    font-size: 70px;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

p, ol, ul, table {
    list-style-position: inside;
    text-align:center;
    font-size: 16px;

}

table {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 60%;
    margin: 0 auto 10px auto;
}

ul, ol {
    padding-left: 20px;
}

tr, td {
    border: 1px dotted black;
}

img {
    border: 2px solid #000000;
    padding: 1px; 
    border-radius: 8px; 
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px; 
}